.navbar-default.opaque {
  background-color: #40BA91;
  padding:0px;
}
.img-responsive.square {
	height:100%;
	width:100%;
}
.btn-xl {
    background-color: #40BA91;
    border-color: #40BA91;
    text-transform: capitalize;
    font-weight:400;
}

.btn-xl:hover, .btn-xl:focus, .btn-xl:active, .btn-xl.active, .open .dropdown-toggle.btn-xl {
    color: #fff;
    background-color: #40BA91;
    border-color: #40BA91;
}

.video {
	height:400px;
	width:60%;
}

.row {
	text-align: center;
}

section h3.section-subheading {
	margin-bottom: 30px;
}

section {
    padding: 100px 0;
}

.navbar-default .nav li a:hover, .navbar-default .nav li a:focus {
    color: #FF9900;
    outline: 0;
}

.navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #FF9900;
}

.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #fff;
    background-color: #FF9900;
}

.navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #FF9900;
}

::selection {
    text-shadow: none;
    background: #FF9900;
}

header .intro-text .intro-heading {
	margin-bottom: 25px;
}

.text-primary {
  color: #40BA91;
}

.timeline>li .timeline-image {
    background-color: #FF9900;
}

a {
    color: #FF9900;
}

a:hover, a:focus, a:active, a.active {
    color: #FF9900;
}

.navbar-default .nav li a {
  font-family: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: capitalize;
  font-size: 16px;
}

header .intro-text .intro-lead-in {
  font-family: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: capitalize;
  font-style: normal;
  font-size: 30px;
  line-height: 30px;
  font-weight:400;
  margin-bottom: 40px;
}
header .intro-text .intro-heading {
  font-family: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 68px;
  line-height: 68px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato',"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: capitalize;
    font-weight: 700;
}

section h3.section-subheading {
    font-family: 'Lato',"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: 400;
}

body {
    overflow-x: hidden;
    font-family: 'Lato',"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
}

.text-muted {
    color: #8C868E;
}