.navbar-default.opaque {
  background-color: #40BA91;
  padding:0px;
}
.img-responsive.square {
	height:100%;
	width:100%;
}
.btn-xl {
    background-color: #40BA91;
    border-color: #40BA91;
}

.btn-xl:hover, .btn-xl:focus, .btn-xl:active, .btn-xl.active, .open .dropdown-toggle.btn-xl {
    color: #fff;
    background-color: #40BA91;
    border-color: #40BA91;
}

.video {
	height:400px;
	width:60%;
}

.row {
	text-align: center;
}

section h3.section-subheading {
	margin-bottom: 30px;
}

section {
    padding: 100px 0;
}

.navbar-default .nav li a:hover, .navbar-default .nav li a:focus {
    color: #FF9900;
    outline: 0;
}

.navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #FF9900;
}

.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #fff;
    background-color: #FF9900;
}

.navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #FF9900;
}

::selection {
    text-shadow: none;
    background: #FF9900;
}
